# Editor files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
dinoshade
xm
glutapp
paperplane
xm2
xm/xm
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
glutapp

# Debug files
*.dSYM/
*.su
